---
layout: default
title: Music
navbar_title: Music
body_class: page-music
---

<div class="row justify-content-center">
  <div class="col-12 col-lg-3">
    {% include widgets/profile_card.html profile_data=site.data.music_profile %}
    {% include widgets/contact_card.html profile_data=site.data.music_profile %}

    <div class="d-none d-lg-block">
      {% include widgets/experience_card.html profile_data=site.data.music_profile %}
    </div>
  </div>

  <div class="col-12 col-lg-7">
    {% include widgets/music_about_card.html profile_data=site.data.music_profile %}

    <div class="row music-players-row mt-3">
      <div class="col-12 col-md-6">
        {% include widgets/beats_card.html %}
      </div>
      <div class="col-12 col-md-6">
        {% include widgets/midi_kits_card.html %}
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-12">
        {% include widgets/tutorials_card.html %}
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center d-lg-none">
  <div class="col-12 col-lg-3">
    {% include widgets/experience_card.html profile_data=site.data.music_profile %}
  </div>
</div>

{% if site.data.music.beats and site.data.music.beats.size > 0 %}
<script src="{{ '/assets/js/beats_player.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% endif %}

{% if site.data.music.midi_kits and site.data.music.midi_kits.size > 0 %}
<script src="https://cdn.jsdelivr.net/combine/npm/tone@14.7.58,npm/@magenta/music@1.23.1/es6/core.js,npm/focus-visible@5,npm/html-midi-player@1.5.0"></script>
<script src="{{ '/assets/js/midi_kits_player.js' | relative_url }}?v={{ site.time | date: '%s' }}"></script>
{% endif %}
